body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "ubuntu-mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Buttons {
  font-family: monospace
}
